<header>
  <div class="left-panel">
    <div class="hamburger" (click)="openMenu()"></div>
    <h1 class="title">
      Perfil
    </h1>
  </div>
  <div class="menu {{menuStatus}}">
    <div class="hamburger" (click)="closeMenu()"></div>
    <div class="links">
      <a (click)="goto('products')">Productos</a>
      <a (click)="logout()">Cerrar Sesión</a>
    </div>
  </div>
  <div class="user">
    <img src="../../assets/svg/user.svg" #userImage />
  </div>
</header>
<div class="profile">
  <div class="picture" (click)="changePicture()">
    <img src="../../assets/svg/user-gray.svg" #profileImage />
  </div>
  <div class="info">
    <div class="name">{{username}}</div>
    <button (click)="logout()">Cerrar Sesión</button>
  </div>
</div>
